.check-email-page {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/images/bg2.svg') no-repeat center center fixed;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}

.check-email-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.306);
    z-index: 0;
}

.check-email-page .check-email-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: #fffffff8;
    padding: 18px 26px;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    text-align: start;
}

.check-email-page .check-email-container h3 {
    font-size: 1.5rem;
    opacity: 0.9;
    margin-bottom: 0;
    text-align: center;
}

.check-email-page .check-email-container span {
    font-size: 0.8rem;
    opacity: 0.9;
    text-align: center;
    opacity: 0.6;
    margin-bottom: 1%;
}

.check-email-page .check-email-container form button {
    width: 50%;
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
}

.check-email-page .check-email-container form button:hover {
    transform: scale(1.05);
}